@font-face {
    font-family: inter;
    src: url(../fonts/Inter.ttf);
}

body {
    user-select: none;
    background: #d7d7d7;
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: inter;
}

.header {
    position: fixed;
    /* position: absolute; */
    width: 100%;
    height: 15%;
    gap: 10%;
    justify-content: center;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(5px);
    font-family: inter;
}

.header_menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-family: inter;
}

.header a {
    text-decoration: none;
    color: #1f1f1f;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    transition-duration: 1s;
    font-family: inter;
}

#modechange {
    background-image: url(../images/modechange.png);
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    aspect-ratio: 1/1;
    height: 30%;
    margin: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 1s;
}


.dark {
    background: #1f1f1f;
}

.dark #modechange {
    background-image: url(../images/modechange_.png);
    rotate: 360deg;
}