---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts, getPickupPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
const pickupPosts = await getPickupPosts()

---

<Layout class="max-w-3xl">
  <section class="mb-8">
    <div class="rounded-lg border">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-3xl leading-none font-medium">lineside - blog</h3>
        <p class="text-muted-foreground text-sm">
          linesideの公式ブログです。日常の何気ない出来事から、技術的な事まで幅広く発信しています。
        </p>
      </div>
      <div class="p-6 pt-0">
        <p class="text-muted-foreground mb-2 text-sm">
          先生のサイトの紹介文をここに書こう！
        </p>
      </div>
    </div>
  </section>

  {
    pickupPosts.length > 0 && (
      <section class="flex flex-col gap-y-4 mb-8">
        <h2 class="text-2xl font-medium">Pick Up Posts</h2>
        <ul class="flex flex-col gap-y-4">
          {pickupPosts.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))}
        </ul>
      </section>
    )
  }

  <section class="flex flex-col gap-y-4 mb-8">
    <h2 class="text-2xl font-medium">Recent Posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>

  <section class="flex flex-col gap-y-4 mb-8">
    <h2 class="text-2xl font-medium">Videos</h2>
    <div class="aspect-video">
      <iframe
        class="w-full h-full rounded-lg"
        src="https://www.youtube.com/embed/YOUR_VIDEO_ID"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </section>
</Layout>